################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/WingtipToys/FileContentIndex/69003205-a0f4-4bd9-b8f3-e2055ce41cc9.vsidx
